<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="superSocket"
         type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
  </configSections>
  
 <!--你可以安装它成为一个Windows服务: SuperSocket.exe -i, 可以通过参数"-u"来卸载该服务   -->
 <appSettings>
    <add key="ServiceName" value="SupperSocketService" />
  </appSettings>

  <superSocket>
    <servers>
      
      <server name="TelnetServerB"
          serverTypeName="TelnetServer"
          textEncoding="UTF-8"
          ip="Any" port="2020">
      </server>
      <!--If you want to enable the 'SuperSocket ServerManager Client then you must add below two 'server' sections'-->
      <!--And copy the 'Silverlight.config' to the execution path\Config\Silverlight.config, and also copy the 'SuperSocket.Facility.dll' -->
      <server name="ManagementServer"
              serverType="SuperSocket.ServerManager.ManagementServer, SuperSocket.ServerManager">
        <listeners>
          <add ip="Any" port="4502" />
        </listeners>
        <users>
          <user name="kerry" password="123456"/>
        </users>
      </server>
      <server name="SilverlightPolicyServer"
          serverType="SuperSocket.Facility.PolicyServer.SilverlightPolicyServer, SuperSocket.Facility"
          ip="Any" port="943"
          receiveBufferSize="32"
          maxConnectionNumber="10"
          policyFile="Config\Silverlight.config"
          clearIdleSession="true">
      </server>
      <!--End-->
  </servers>
  
     <serverTypes>
            <add name="TelnetServer" type="SuperSocketServer.AppServers.TelnetServer, SuperSocketServer.AppServers"/>
     </serverTypes>
  
  </superSocket>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>