<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <variable name="logDirectory" value="${basedir}"/>
  
  <targets>

    <target name="awf" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Discard">
      <target name="file" xsi:type="File"
            concurrentWrites="true"
            fileName="${logDirectory}/log.txt"
            archiveFileName="${logDirectory}/log.{#####}.txt"
            archiveAboveSize="10111222"
            maxArchiveFiles="9"
            archiveNumbering="Sequence"
            layout="${longdate}|${level:uppercase=true}|${logger}|${threadid}|${threadname}|${message}|${exception:format=type,message,stacktrace:maxInnerExceptionLevel=50:separator=\:}" />
    </target>

    <!--<target name="databaselog" xsi:type="Database"
             connectionStringName="LoggingDB"
             commandText="insert into NLog_Error ([time_stamp], [application], [level],[host],[type],[source],[logger],[message],[stacktrace],[allxml],[acknowledged]) values(@time_stamp,@application,@level,@host,@type,@source,@logger,@message,@stacktrace,@allxml,@acknowledged);">
      <parameter name="@time_stamp" layout="${date:universalTime=true:format=s}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@application" layout="EnterprisePortal" />
      <parameter name="@host" layout="${machinename}" />
      <parameter name="@type" layout="${exception:format=type}" />
      <parameter name="@source" layout="${callsite:className=true:fileName=false:includeSourcePath=false:methodName=false}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@message" layout="${message} ${onexception: | EXCEPTION\:${newline}${exception:maxInnerExceptionLevel=20:format=shortType,message,method,stacktrace}}" />
      <parameter name="@stacktrace" layout="${stacktrace}" />
      <parameter name="@allxml" layout="${web_variables}" />
      <parameter name="@acknowledged" layout="0" />
    </target>-->
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
    <!--<logger name="*" minlevel="Error" writeTo="databaselog" />
    <logger name="*" minlevel="Debug" writeTo="threadFiles" />-->
  </rules>
</nlog>
