<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <variable name="macid" value="${event-context:item=macid}"/>
  <targets>
    <!-- for easier logging when log files goes by thread names, disable for production -->
    <target name="awf" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Discard">
      <target name="threadFiles" xsi:type="File"
          concurrentWrites="true"
          fileName="${basedir}/log/${macid}_log.txt"
          archiveFileName="${basedir}/log/${macid}.{###}.txt"
          archiveEvery="Day"
          maxArchiveFiles="14"
          archiveNumbering="Rolling"
          layout="${date:universalTime=false:format=s}|${level:uppercase=true}|${logger}|${threadid}|${threadname}|${message}|${exception:format=type,message,stacktrace:maxInnerExceptionLevel=50:separator=\:}" />
    </target>
    <target name="awf" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Discard">
      <target name="error" xsi:type="File"
            concurrentWrites="true"
            fileName="${basedir}/errorlog/${macid}_log.txt"
            archiveFileName="${basedir}/errorlog/${macid}.{###}.txt"
            archiveAboveSize="10111222"
            maxArchiveFiles="9"
            archiveNumbering="Sequence"
            layout="${longdate}|${level:uppercase=true}|${logger}|${threadid}|${threadname}|${message}|${exception:format=type,message,stacktrace:maxInnerExceptionLevel=50:separator=\:}" />
    </target>
  </targets>

  <rules>
    <!-- for easier logging when log files goes by thread names, disable for production -->
    <logger name="*" minlevel="Debug" writeTo="threadFiles" />
    <logger name="error" minlevel="Debug" writeTo="error" />
  </rules>
</nlog>
